[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
scikit-learn = "*"
prefect = "*"
gunicorn = "*"
flask = "*"
requests = "*"
evidently = "*"
deepdiff = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
