matplotlib
seaborn==0.13.2
numpy==1.26.4
mlflow==2.14.3
pandas==2.2.2
jupyter
scikit-learn
prefect==2.19.9
gunicorn==22.0.0
flask==3.0.3
requests==2.32.3
evidently
tqdm
psycopg
psycopg_binary
pyarrow==15.0.2
deepdiff
pytest
pylint

