[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
scikit-learn = "*"
prefect = "*"
gunicorn = "*"
flask = "*"
requests = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.11"
